* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: #1a1919;
    color: var(--text);
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #031926;
    color: #0099ff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px #031926
}

header h1 {
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

main {
    flex: 1;
    padding: 20px auto;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

.titulo-seccion {
    text-align: center;
    margin: 10px 0;
    color: #0099ff;
    border: none;
}
.subtitulo-seccion {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    color: #ffffff;
    border: none;
}
/* Tarjetas de los miembros */
#miembros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 12px;
    padding-bottom: 40px;
}

/* Estilo de las tarjetas */
.tarjeta-estudiante {
    background: #031926;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px #031926;
    transition: transform 0.3s ease;
    border: 2px solid #12006100;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* Esto da ese "movimiento" a la tarjeta */
.tarjeta-estudiante:hover {
    transform: translateY(-3px);
    border-color: #0f6597;
}

.avatar {
    width: 100px; 
    height: 100px;
    object-fit: cover;
    border-radius: 50%; 
    margin-bottom: 15px;
    border: 3px solid #0099ff;
}

h3 {
    color: #0099ff;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

h4 {
    font-size: 0.9rem;
    margin-top: 10px;
    color: #0099ff;
    text-transform: uppercase;
}

p {
    font-size: 13px;
    color: #ffffffe1;
    list-style: none;
}
/*subtitulos de parrafos*/
.psubt {
    text-align: center;
    font-size: 13px;
    color: #ffffffe1;
    list-style: none;
}
li {
    text-align: center;
    font-size: 13px;
    color: #ffffffe1;
}

ul {
    margin-top: 5px;
}

footer {
    padding: 15px;
    background: #031926;
    text-align: center;
    font-size: 0.8rem;
}